*.mo
*.swp
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
dist
downloads
eggs
etc
fake-eggs
include
lib
lib64
local
parts
src
var
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
locales/*.mo
pip-selfcheck.json
