# This is the zc.buildout configuration
# For more information on managing your Plone instance using buildout please
# see http://plone.org/documentation/tutorial/buildout

[buildout]
extends =
    base.cfg
extends-cache = cache
parts +=
    plone-tmp
    initial-site
    initial-site-public
eggs +=
develop +=

# mr.developer options
always-checkout = true

[sources]
collective.spaces = git https://github.com/collective/collective.spaces.git pushurl=git@github.com:collective/collective.spaces.git
collective.espaces = git https://github.com/espaces/collective.espaces.git pushurl=git@github.com:espaces/collective.espaces.git

#Temporary workaround for settings inheritance issues (see #8)
collective.behavior.localdiazo = git https://github.com/davidjb/collective.behavior.localdiazo.git pushurl=git@github.com:davidjb/collective.behavior.localdiazo.git

#Local themes and fixes
diazotheme.frameworks = git https://github.com/collective/diazotheme.frameworks.git
diazotheme.bootswatch = git https://github.com/collective/diazotheme.bootswatch.git

# For reCAPTCHA V2 API
plone.formwidget.recaptcha = git https://github.com/espaces/plone.formwidget.recaptcha.git branch=APIv2

# plone.app.discussion translation
plone.app.discussion = git https://github.com/plone/plone.app.discussion.git branch=2.2.x pushurl=git@github.com:plone/plone.app.discussion.git

[versions]
collective.behavior.localregistry = 1.0b2
mr.developer = 1.31
Products.PloneFormGen = 1.7.19


[settings]
#plone-instance1 = 0.0.0.0:8080
#plone-instance1-webdav-port =
use-zeo = False
#zeo = zeo.example.org:1234

#Plone instance: our instance of Zope that will run our Plone site.
#We're pre-configured here from base.cfg.  Customise the Zeo client
#details below if you require access to a remote Zeo client (or no Zeo
#at all).
[instance1]
environment-vars +=
    TZ AEST-10
    TMPDIR ${buildout:directory}/tmp
#    LD_LIBRARY_PATH /usr/local/lib:/home/buildout/instance-python/python2.6/parts/opt/lib/
#    RELOAD_PATH ${buildout:directory}/src/collective.spaces:${buildout:directory}/src/collective.espaces:${buildout:directory}/src/collective.aaf:${buildout:directory}/src/collective.pluggablelogin
zope-conf-additional =
#    python-check-interval 1000
eggs +=
    collective.espaces
    plone.app.debugtoolbar
    diazotheme.bootswatch

zcml =
    collective.aaf
    collective.espaces

[supervisor]
programs = 
    10 instance1 ${buildout:bin-directory}/instance1 [console] ${instance1:location} true plone

[plone-tmp]
recipe = plone.recipe.command
command = mkdir ${buildout:directory}/tmp

[initial-site]
recipe = collective.recipe.plonesite
site-id = espaces 
instance = instance1
#zeoserver = zeoserver
profiles-initial =
    Products.CMFPlone:plone-content
    collective.espaces:default
site-replace = false 

[initial-site-public]
<= initial-site
site-id = espaces_public
profiles-initial =
    Products.CMFPlone:plone-content

[test]
eggs +=
    collective.espaces [test]
